<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">CLASSE_DIALETO_POSTGRES</property>
		<property name="hibernate.connection.driver_class">CLASSE_DRIVER_POSTGRES</property>
		<property name="hibernate.connection.url">
			URL_CONEXAO_BANCO
		</property>
		<property name="hibernate.connection.username">USUARIO_BANCO</property>
		<property name="hibernate.connection.password">SENHA_BANCO</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>


	</session-factory>
</hibernate-configuration>
